- path: output/reject.mrs
  format: mrs
  behavior: domain
  upstream:

    xndeye_reject:
      type: http
      url: "https://raw.githubusercontent.com/xndeye/adblock_list/refs/heads/release/clash.yaml"
      format: yaml
      behavior: domain

- path: output/reject@ip.mrs
  format: mrs
  behavior: ipcidr
  upstream:

    skk_reject_ip:
      type: http
      url: "https://ruleset.skk.moe/Clash/ip/reject.txt"
      format: text
      behavior: classical

- path: output/direct.mrs
  format: mrs
  behavior: domain
  upstream:
    skk_domestic:
      type: http
      url: "https://ruleset.skk.moe/Clash/non_ip/domestic.txt"
      format: text
      behavior: classical

    skk_direct_ip:
      type: http
      url: "https://ruleset.skk.moe/Clash/non_ip/direct.txt"
      format: text
      behavior: classical

    xndeye_direct:
      type: file
      path: local/direct.yaml
      format: yaml
      behavior: classical

- path: output/direct@ip.mrs
  format: mrs
  behavior: ipcidr
  upstream:

    skk_domestic_ip:
      type: http
      url: "https://ruleset.skk.moe/Clash/ip/domestic.txt"
      format: text
      behavior: classical

    skk_china_ip:
      type: http
      url: "https://ruleset.skk.moe/Clash/ip/china_ip.txt"
      format: text
      behavior: ipcidr

    skk_china_ip_ipv6:
      type: http
      url: "https://ruleset.skk.moe/Clash/ip/china_ip_ipv6.txt"
      format: text
      behavior: ipcidr

- path: output/microsoft@cn.mrs
  format: mrs
  behavior: domain
  upstream:
    skk_microsoft_cdn:
      type: http
      url: "https://ruleset.skk.moe/Clash/non_ip/microsoft_cdn.txt"
      format: text
      behavior: classical

    DustinWin_microsoft_cn:
      type: http
      url: "https://github.com/DustinWin/domain-list-custom/releases/download/domains/microsoft-cn.list"
      format: text
      behavior: classical
    local_microsoft_cn:
      type: file
      path: local/microsoft@cn.yaml
      format: yaml
      behavior: classical

- path: output/apple@cn.mrs
  format: mrs
  behavior: domain
  upstream:

    skk_apple_services:
      type: http
      url: "https://ruleset.skk.moe/Clash/non_ip/apple_services.txt"
      format: text
      behavior: classical

    skk_apple_cn:
      type: http
      url: "https://ruleset.skk.moe/Clash/non_ip/apple_cn.txt"
      format: text
      behavior: classical

    skk_apple_cdn:
      type: http
      url: "https://ruleset.skk.moe/Clash/domainset/apple_cdn.txt"
      format: text
      behavior: domain

    DustinWin_apple_cn:
      type: http
      url: "https://github.com/DustinWin/domain-list-custom/releases/download/domains/apple-cn.list"
      format: text
      behavior: classical


- path: output/steam@cn.mrs
  format: mrs
  behavior: domain
  upstream:
    blackmatrix7_steam_cn:
      type: http
      url: "https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/refs/heads/master/rule/Clash/SteamCN/SteamCN.yaml"
      format: yaml
      behavior: classical

- path: output/ai.mrs
  format: mrs
  behavior: domain
  upstream:

    skk_ai:
      type: http
      url: "https://ruleset.skk.moe/Clash/non_ip/ai.txt"
      format: text
      behavior: classical

    DustinWin_ai:
      type: http
      url: "https://github.com/DustinWin/domain-list-custom/releases/download/domains/ai.list"
      format: text
      behavior: classical

    ACL4SSR_ai:
      type: http
      url: "https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/refs/heads/master/Clash/Ruleset/AI.list"
      format: text
      behavior: classical

    local_ai:
      type: file
      path: local/ai.yaml
      format: yaml
      behavior: classical

- path: output/proxy.mrs
  format: mrs
  behavior: domain
  upstream:

    skk_cdn_domainset:
      type: http
      url: "https://ruleset.skk.moe/Clash/domainset/cdn.txt"
      format: text
      behavior: domain

    skk_cdn:
      type: http
      url: "https://ruleset.skk.moe/Clash/non_ip/cdn.txt"
      format: text
      behavior: classical

    skk_stream:
      type: http
      url: "https://ruleset.skk.moe/Clash/non_ip/stream.txt"
      format: text
      behavior: classical

    telegram:
      type: http
      url: "https://ruleset.skk.moe/Clash/non_ip/telegram.txt"
      format: text
      behavior: classical

    skk_download_domainset:
      type: http
      url: "https://ruleset.skk.moe/Clash/domainset/download.txt"
      format: text
      behavior: domain

    skk_download:
      type: http
      url: "https://ruleset.skk.moe/Clash/non_ip/download.txt"
      format: text
      behavior: classical

    skk_global:
      type: http
      url: "https://ruleset.skk.moe/Clash/non_ip/global.txt"
      format: text
      behavior: classical

    xndeye_proxy:
      type: file
      path: local/proxy.yaml
      format: yaml
      behavior: classical

    gfw:
      type: http
      url: "https://fastly.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@refs/heads/meta/geo/geosite/gfw.mrs"
      format: mrs
      behavior: domain

- path: output/proxy@ip.mrs
  format: mrs
  behavior: ipcidr
  upstream:

    skk_domestic_ip:
      type: http
      url: "https://ruleset.skk.moe/Clash/ip/domestic.txt"
      format: text
      behavior: classical

    skk_stream_ip:
      type: http
      url: "https://ruleset.skk.moe/Clash/ip/stream.txt"
      format: text
      behavior: classical

    telegram_ip:
      type: http
      url: "https://ruleset.skk.moe/Clash/ip/telegram.txt"
      format: text
      behavior: classical

    skk_cdn_ip:
      type: http
      url: "https://ruleset.skk.moe/Clash/ip/cdn.txt"
      format: text
      behavior: classical

- path: output/lan@ip.mrs
  format: mrs
  behavior: ipcidr
  upstream:

    local_lan:
      type: file
      path: local/lan@ip.yaml
      format: yaml
      behavior: classical

- path: output/lan.mrs
  format: mrs
  behavior: domain
  upstream:

    skk_lan:
      type: http
      url: "https://ruleset.skk.moe/Clash/non_ip/lan.txt"
      format: text
      behavior: classical

- path: output/fakeip-filter.yaml
  format: mrs
  behavior: domain
  upstream:

    skk_fake_ip_filter:
      type: http
      url: "https://ruleset.skk.moe/Clash/domainset/clash_fake_ip_filter.txt"
      format: text
      behavior: domain


- path: output/reject.yaml
  format: yaml
  behavior: classical
  upstream:

    xndeye_reject:
      type: http
      url: "https://raw.githubusercontent.com/xndeye/adblock_list/refs/heads/release/clash.yaml"
      format: yaml
      behavior: domain

- path: output/reject@ip.yaml
  format: yaml
  behavior: classical
  upstream:

    skk_reject_ip:
      type: http
      url: "https://ruleset.skk.moe/Clash/ip/reject.txt"
      format: text
      behavior: classical

- path: output/direct.yaml
  format: yaml
  behavior: classical
  upstream:
    skk_domestic:
      type: http
      url: "https://ruleset.skk.moe/Clash/non_ip/domestic.txt"
      format: text
      behavior: classical

    skk_direct_ip:
      type: http
      url: "https://ruleset.skk.moe/Clash/non_ip/direct.txt"
      format: text
      behavior: classical

    xndeye_direct:
      type: file
      path: local/direct.yaml
      format: yaml
      behavior: classical

- path: output/direct@ip.yaml
  format: yaml
  behavior: classical
  upstream:

    skk_domestic_ip:
      type: http
      url: "https://ruleset.skk.moe/Clash/ip/domestic.txt"
      format: text
      behavior: classical

    skk_china_ip:
      type: http
      url: "https://ruleset.skk.moe/Clash/ip/china_ip.txt"
      format: text
      behavior: ipcidr

    skk_china_ip_ipv6:
      type: http
      url: "https://ruleset.skk.moe/Clash/ip/china_ip_ipv6.txt"
      format: text
      behavior: ipcidr

- path: output/microsoft@cn.yaml
  format: yaml
  behavior: classical
  upstream:
    skk_microsoft_cdn:
      type: http
      url: "https://ruleset.skk.moe/Clash/non_ip/microsoft_cdn.txt"
      format: text
      behavior: classical

    DustinWin_microsoft_cn:
      type: http
      url: "https://github.com/DustinWin/domain-list-custom/releases/download/domains/microsoft-cn.list"
      format: text
      behavior: classical
    local_microsoft_cn:
      type: file
      path: local/microsoft@cn.yaml
      format: yaml
      behavior: classical

- path: output/apple@cn.yaml
  format: yaml
  behavior: classical
  upstream:

    skk_apple_services:
      type: http
      url: "https://ruleset.skk.moe/Clash/non_ip/apple_services.txt"
      format: text
      behavior: classical

    skk_apple_cn:
      type: http
      url: "https://ruleset.skk.moe/Clash/non_ip/apple_cn.txt"
      format: text
      behavior: classical

    skk_apple_cdn:
      type: http
      url: "https://ruleset.skk.moe/Clash/domainset/apple_cdn.txt"
      format: text
      behavior: domain

    DustinWin_apple_cn:
      type: http
      url: "https://github.com/DustinWin/domain-list-custom/releases/download/domains/apple-cn.list"
      format: text
      behavior: classical


- path: output/steam@cn.yaml
  format: yaml
  behavior: classical
  upstream:
    blackmatrix7_steam_cn:
      type: http
      url: "https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/refs/heads/master/rule/Clash/SteamCN/SteamCN.yaml"
      format: yaml
      behavior: classical

- path: output/ai.yaml
  format: yaml
  behavior: classical
  upstream:

    skk_ai:
      type: http
      url: "https://ruleset.skk.moe/Clash/non_ip/ai.txt"
      format: text
      behavior: classical

    DustinWin_ai:
      type: http
      url: "https://github.com/DustinWin/domain-list-custom/releases/download/domains/ai.list"
      format: text
      behavior: classical

    ACL4SSR_ai:
      type: http
      url: "https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/refs/heads/master/Clash/Ruleset/AI.list"
      format: text
      behavior: classical

    local_ai:
      type: file
      path: local/ai.yaml
      format: yaml
      behavior: classical

- path: output/proxy.yaml
  format: yaml
  behavior: classical
  upstream:

    skk_cdn_domainset:
      type: http
      url: "https://ruleset.skk.moe/Clash/domainset/cdn.txt"
      format: text
      behavior: domain

    skk_cdn:
      type: http
      url: "https://ruleset.skk.moe/Clash/non_ip/cdn.txt"
      format: text
      behavior: classical

    skk_stream:
      type: http
      url: "https://ruleset.skk.moe/Clash/non_ip/stream.txt"
      format: text
      behavior: classical

    telegram:
      type: http
      url: "https://ruleset.skk.moe/Clash/non_ip/telegram.txt"
      format: text
      behavior: classical

    skk_download_domainset:
      type: http
      url: "https://ruleset.skk.moe/Clash/domainset/download.txt"
      format: text
      behavior: domain

    skk_download:
      type: http
      url: "https://ruleset.skk.moe/Clash/non_ip/download.txt"
      format: text
      behavior: classical

    skk_global:
      type: http
      url: "https://ruleset.skk.moe/Clash/non_ip/global.txt"
      format: text
      behavior: classical

    xndeye_proxy:
      type: file
      path: local/proxy.yaml
      format: yaml
      behavior: classical

    gfw:
      type: http
      url: "https://github.com/DustinWin/domain-list-custom/releases/download/domains/google-cn.list"
      format: txt
      behavior: classical

- path: output/proxy@ip.yaml
  format: yaml
  behavior: classical
  upstream:

    skk_domestic_ip:
      type: http
      url: "https://ruleset.skk.moe/Clash/ip/domestic.txt"
      format: text
      behavior: classical

    skk_stream_ip:
      type: http
      url: "https://ruleset.skk.moe/Clash/ip/stream.txt"
      format: text
      behavior: classical

    telegram_ip:
      type: http
      url: "https://ruleset.skk.moe/Clash/ip/telegram.txt"
      format: text
      behavior: classical

    skk_cdn_ip:
      type: http
      url: "https://ruleset.skk.moe/Clash/ip/cdn.txt"
      format: text
      behavior: classical

- path: output/lan@ip.yaml
  format: yaml
  behavior: classical
  upstream:

    local_lan:
      type: file
      path: local/lan@ip.yaml
      format: yaml
      behavior: classical

- path: output/lan.yaml
  format: yaml
  behavior: classical
  upstream:

    skk_lan:
      type: http
      url: "https://ruleset.skk.moe/Clash/non_ip/lan.txt"
      format: text
      behavior: classical

- path: output/fakeip-filter.yaml
  format: yaml
  behavior: domain
  upstream:

    skk_fake_ip_filter:
      type: http
      url: "https://ruleset.skk.moe/Clash/domainset/clash_fake_ip_filter.txt"
      format: text
      behavior: domain